.DS_Store
.dart_tool/
.gradle

.packages
.pub/
pubspec.lock
**/local.properties

build/
android/.idea
.flutter-plugins-dependencies
flutter_export_environment.sh
example/ios/Flutter/ephemeral/

# Coverage
coverage/
test/dlcov_references_test.dart
dlcov.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
