name: CI
on:
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - ".github/**"
      - ".vscode/**"
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout OneSignal-Flutter-SDK
        uses: actions/checkout@v5

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.5
          cache: true

      - name: Install
        run: flutter pub get

      - name: Static Analysis
        run: flutter analyze

      - name: Ensure the Dart code is formatted correctly
        run: dart format --set-exit-if-changed --output=none .

      - name: Run Flutter unit tests
        run: dart run rps test
